<mat-card>
    <mat-card-header>
        <mat-card-title style="align-items: center">
            <!-- <h2 style="color: rgb(226, 0, 0)" >Biller Company Registration</h2>         -->
            <h2 mat-dialog-title>Biller Company Registration</h2>    
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div style="text-align: right">
            <button mat-raised-button color="primary" (click)="openNewDialog()" style="margin-bottom: 10px;">Add Biller Company</button>
        </div>
            <ag-grid-angular 
            #agGrid
                style="height: 500px;" 
                class="{{theme}}"
                [gridOptions]="gridOptions" 
                (gridReady)="onGridReady($event)"
                (rowClicked)="onRowClicked($event)"
                >
            </ag-grid-angular>
    </mat-card-content>
</mat-card>

        