<h1 mat-dialog-title>
    {{data.action}} {{data.entity}}
</h1>
<form name="globalSettingForm" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
<mat-dialog-content>
        <!-- <mat-form-field class="container-full-width">
            <input matInput placeholder="Id" value="{{billerCompany.id}}" [disabled]="true" >
        </mat-form-field> -->
        <mat-form-field class="container-full-width">
                <input matInput placeholder="Name " [(ngModel)]="billerCompany.name" cdkFocusInitial name ="nm" [(ngModel)]="billerCompany.name" #name="ngModel" [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required maxlength="50">
                <mat-error *ngIf="submitted && form.name.errors" class="invalid-feedback">
                        <div *ngIf="form.name.errors.required"> {{form.name.errors.message}}</div>
                </mat-error> 
            </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-raised-button color="primary" (click)="validate()" >Save</button>  
</mat-dialog-actions>

</form>