<h1 mat-dialog-title translate="ottoAG.transactionType.detail.title" [translateParams]="data">
    <!-- {{data.action}} {{data.entity}} -->
</h1>
<form name="transTypeForm" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <mat-dialog-content>
        <mat-form-field class="form-full-width">
            <input matInput placeholder="{{ 'ottoAG.transactionType.name' | translate }}" [(ngModel)]="transType.name" cdkFocusInitial name ="nm" [(ngModel)]="transType.name" #name="ngModel" [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required maxlength="50">
            <mat-error *ngIf="submitted && form.name.errors" class="invalid-feedback">
                <div *ngIf="form.name.errors.required"> {{form.name.errors.message}}</div>
            </mat-error> 
        </mat-form-field>
        <mat-form-field class="form-full-width">
            <input matInput placeholder="{{ 'ottoAG.transactionType.code' | translate }}" [(ngModel)]="transType.code" cdkFocusInitial name ="cd" 
                [(ngModel)]="transType.code" #name="ngModel" [ngClass]="{ 'is-invalid': f.submitted && code.invalid }" required maxlength="15">
            <mat-error *ngIf="submitted && form.code.errors" class="invalid-feedback">
                <div *ngIf="form.code.errors.required"> {{form.code.errors.message}}</div>
            </mat-error> 
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-raised-button color="primary" (click)="validate()" >{{ 'entity.action.save' | translate }}</button>  
    </mat-dialog-actions>
</form>