<h1 mat-dialog-title>   
    {{data.action}} {{data.entity}}
</h1>
<form name="billerTypeForm" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate> 
<mat-dialog-content> 
        <!-- <mat-form-field class="container-full-width">
            <input matInput placeholder="Id" value="{{billerType.id}}" [disabled]="true" >
        </mat-form-field> -->
         <mat-form-field class="container-full-width"> 
                <input matInput placeholder="Name " [(ngModel)]="billerType.name" cdkFocusInitial name ="name"  required maxlength="50">
                <mat-error *ngIf="submitted && form.name.errors" class="invalid-feedback">
                        <div *ngIf="form.name.errors.required"> {{form.name.errors.message}}</div>
                </mat-error> 
            </mat-form-field> 
        <!-- <mat-checkbox
          class="example-margin"
          [(ngModel)]="billerType.ispostpaid"
          name="is_postpaid_"
          [color]="'primary'"
            > Postpaid
        </mat-checkbox> -->
        <!-- <mat-form-field style="width: 50%;">
            <mat-select placeholder="Type" [(ngModel)]="billerType.ispostpaid" name="type">
                <mat-option *ngFor="let type of billPayTypeList" [value]="type.value">
                    {{type.desc}}
                </mat-option>
            </mat-select>
        </mat-form-field> -->

        <mat-form-field class="form-full-width">
			<mat-select placeholder="Bill Pay Type" [(ngModel)]="billerType.billPayType" name="billPayTypeId"  required>
				<mat-option *ngFor="let billPayType of billPayTypeList" [value]="billPayType">
					{{billPayType}}
				</mat-option>
            </mat-select> 
            <mat-error *ngIf="submitted && form.billPayTypeId.errors" class="invalid-feedback">
                <div *ngIf="form.billPayTypeId.errors.required"> {{form.billPayTypeId.errors.message}}</div>
            </mat-error> 
        </mat-form-field>

      <br><br>
      <mat-divider></mat-divider>
      <mat-divider></mat-divider>
      <br><br>
    
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-raised-button  color="primary" (click)="validate()" >Save</button> 
</mat-dialog-actions>

</form>