<mat-card>
    <mat-card-header>
        <mat-card-title style="align-items: center">
            <!-- <h2 mat-dialog-title>Bill Type</h2> -->
            <h2 mat-dialog-title translate="ottoAG.billerType.home.title"></h2>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div style="text-align: left">
            <button mat-raised-button color="primary"  (click)="openNewDialog()" style="margin-bottom: 10px;">{{ "ottoAG.billerType.home.addLabelButton" | translate }}</button>
            <button mat-raised-button (click)="exportCSV('csv')" style="margin-bottom: 10px;">{{ "entity.action.exportCSV" | translate }}</button>
        </div>
        <br>
        <div>
            <mat-form-field class="container-half-width" >
                <input matInput placeholder="{{ 'ottoAG.billerType.filter.name' | translate }}" [(ngModel)]="filter.name"  
                    name ="name"  >
            </mat-form-field> 
            <mat-form-field class="form-full-width">
                <mat-select placeholder="{{ 'ottoAG.billerType.filter.billPayType' | translate }}" [(ngModel)]="filter.billPayType" name="billPayType">
                    <!-- <mat-option [value]= 'ALL'>ALL</mat-option> -->
                    <mat-option *ngFor="let billPayType of billPayTypeList" [value]="billPayType">
                        <!-- {{ status === 'true' ? 'ACTIVE' : ( status === 'false' ? 'INACTIVE' : 'ALL' )   }} -->
                        {{billPayType}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="actionfilter()" >Filter</button>
            <!-- <button mat-raised-button color="primary" (click)="filterBtn()" style="margin-left: 30px">Filter</button> -->
        </div>
        <br>
        <ag-grid-angular 
        #agGrid
            style="height: 315px;" 
            class="{{theme}}"
            [gridOptions]="gridOptions" 
            (gridReady)="onGridReady($event)"
            (rowClicked)="onRowClicked($event)"
            >
        </ag-grid-angular>
        
        <div >
            <mat-paginator 
                [length]="totalData"
                [pageSize]="totalRecord"
                [pageSizeOptions]="[totalRecord]"
                (page)="onPaginateChange($event)">
            </mat-paginator>
        </div> 
    </mat-card-content>
</mat-card>
    
