<h1 mat-dialog-title>{{ modeTitle }} Biller Product</h1>
<div mat-dialog-content>
    <form class="form-container">
		<mat-form-field class="form-full-width">
			<input matInput placeholder="Product Name" name="name" [(ngModel)]="rowData.name">
		</mat-form-field>
		<mat-form-field class="form-full-width">
			<input matInput placeholder="Biller Type" aria-label="Biller Type" [matAutocomplete]="auto" [formControl]="billTypeCtrl">
			<mat-autocomplete #auto="matAutocomplete">
				<mat-option *ngFor="let billerType of filteredBillType | async" [value]="billerType.name">
					<span>{{ billerType.name }}</span>
				</mat-option>
			</mat-autocomplete>
		</mat-form-field>
		<mat-form-field class="form-full-width">
			<input matInput placeholder="Biller Company" aria-label="Biller Company" [matAutocomplete]="autoComp" [formControl]="billCompanyCtrl">
			<mat-autocomplete #autoComp="matAutocomplete">
				<mat-option *ngFor="let billerCompany of filteredBillCompany | async" [value]="billerCompany.name">
					<span>{{ billerCompany.name }}</span>
				</mat-option>
			</mat-autocomplete>
		</mat-form-field>
		<mat-form-field class="form-full-width">
			<input matInput placeholder="Denom" name="denom" [(ngModel)]="rowData.denom">
		</mat-form-field>
		<mat-form-field class="form-full-width">
			<input type="number" matInput placeholder="Sell Price" name="sellPrice" [(ngModel)]="rowData.sellPrice">
		</mat-form-field>
	</form>
</div>
<div mat-dialog-actions>
    <button mat-raised-button (click)="onNoClick()">Cancel</button>
    <button mat-raised-button color="primary" cdkFocusInitial>Save</button>
</div>