<h1 mat-dialog-title>{{ "ottoAG.promotion.detail.title" | translate:{mode: modeTitle} }}</h1>
<form name="promotionForm" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <div mat-dialog-content> 
		<mat-form-field style="width: 30%; margin-right: 5%">
			<input matInput placeholder="{{ 'ottoAG.promotion.name' | translate }}" [(ngModel)]="promotion.name" cdkFocusInitial name ="nm" [(ngModel)]="promotion.name" #name="ngModel" [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required maxlength="50" [disabled]="data.action === 'Edit'">
            <mat-error *ngIf="submitted && form.name.errors" class="invalid-feedback">
                    <div *ngIf="form.name.errors.required"> {{form.name.errors.message}}</div>
            </mat-error> 
        </mat-form-field>
        <mat-form-field style="width: 30%; margin-right: 5%">
            <input matInput [matDatepicker]="picker" placeholder="{{ 'ottoAG.promotion.dateStart' | translate }}" (dateInput)="addEvent('start', $event)" (click)="picker.open()" [max]="dateTCtrl.value" [formControl]="dateSCtrl" readonly required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <!-- <mat-datepicker-toggle matSuffix *ngIf="dateSCtrl.value === null" [for]="picker"></mat-datepicker-toggle>
            <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="dateSCtrl.value !== null" (click)="dateSCtrl.setValue(null)">
                <mat-icon>close</mat-icon>
            </button> -->
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="submitted && form.dateStart.errors" class="invalid-feedback">
                <div *ngIf="form.dateStart.errors.required"> {{form.dateStart.errors.message}}</div>
            </mat-error>
        </mat-form-field>
        <mat-form-field style="width: 30%;">
            <input matInput [matDatepicker]="pickerT" placeholder="{{ 'ottoAG.promotion.dateThru' | translate }}" (dateInput)="addEvent('thru', $event)" (click)="pickerT.open()" [min]="dateSCtrl.value" [formControl]="dateTCtrl" readonly required>
            <mat-datepicker-toggle matSuffix [for]="pickerT"></mat-datepicker-toggle>
            <!-- <mat-datepicker-toggle matSuffix *ngIf="dateTCtrl.value === null" [for]="pickerT"></mat-datepicker-toggle>
            <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="dateTCtrl.value !== null" (click)="dateTCtrl.setValue(null)">
                <mat-icon>close</mat-icon>
            </button> -->
            <mat-datepicker #pickerT></mat-datepicker>
            <mat-error *ngIf="submitted && form.dateThru.errors" class="invalid-feedback">
                <div *ngIf="form.dateThru.errors.required"> {{form.dateThru.errors.message}}</div>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="form-half-width form-separator">
            <mat-select placeholder="{{ 'ottoAG.promotion.type' | translate }}" [(ngModel)]="promotion.type" name="type" (selectionChange)="typeChange()">
				<mat-option *ngFor="let type of promotionTypeList" [value]="type.id">
					{{type.value}}
				</mat-option>
			</mat-select>
        </mat-form-field>
        <!-- VALUE -->
        <mat-form-field class="form-half-width">
            <input matInput placeholder="{{ 'ottoAG.promotion.value' | translate }}" name="value" [(ngModel)]="valueVal" (keyup)="currencyFormat($event, 'value')" required>
            <span matSuffix *ngIf="promotion.type === 1 || promotion.type === 3">%</span>
            <mat-error *ngIf="submitted && form.value.errors" class="invalid-feedback">
                <div *ngIf="form.value.errors.required"> {{form.value.errors.message}}</div>
            </mat-error>
        </mat-form-field>
        <!--  -->
        <mat-form-field class="form-half-width form-separator">
            <mat-select placeholder="{{ 'ottoAG.promotion.applyTo' | translate }}" [(ngModel)]="promotion.applyTo" name="applyTo" (selectionChange)="applyToChange()">
				<mat-option *ngFor="let applyTo of categoryList" [value]="applyTo.id">
					{{applyTo.value}}
				</mat-option>
			</mat-select>
        </mat-form-field>
        <!-- APPLY TO TYPE, OPERATOR OR PRODUCT -->
        <mat-form-field class="form-half-width" *ngIf="promotion.applyTo === 1 || promotion.applyTo === 4">
            <input matInput placeholder="{{ 'ottoAG.promotion.applyToTypeId' | translate }}" aria-label="Biller Type" [matAutocomplete]="auto" [formControl]="billTypeCtrl" required>
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFnBil">
                <mat-option *ngFor="let billerType of filteredBillType | async" [value]="billerType">
                    <span>{{ billerType.name }}</span>
                </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="submitted && form.applyToTypeId.errors" class="invalid-feedback">
                <div *ngIf="form.applyToTypeId.errors.required"> {{form.applyToTypeId.errors.message}}</div>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="form-half-width" *ngIf="promotion.applyTo === 2">
            <input matInput placeholder="{{ 'ottoAG.promotion.applyToCompanyId' | translate }}" aria-label="Biller Company" [matAutocomplete]="autoComp" [formControl]="billCompanyCtrl" required>
            <mat-autocomplete #autoComp="matAutocomplete" [displayWith]="displayFnCom">
                <mat-option *ngFor="let billerCompany of filteredBillCompany | async" [value]="billerCompany">
                    <span>{{ billerCompany.name }}</span>
                </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="submitted && form.applyToCompanyId.errors" class="invalid-feedback">
                <div *ngIf="form.applyToCompanyId.errors.required"> {{form.applyToCompanyId.errors.message}}</div>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="form-half-width" *ngIf="promotion.applyTo === 3">
            <mat-select placeholder="{{ 'ottoAG.promotion.applyToProductId' | translate }}" name="product" [(ngModel)]="promotion.applyToProductId" required [disabled]="promotion.applyTo === 4">
                <mat-option *ngFor="let product of productList" [value]="product.id">
                    {{product.name}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="submitted && form.applyToProductId.errors" class="invalid-feedback">
                <div *ngIf="form.applyToProductId.errors.required"> {{form.applyToProductId.errors.message}}</div>
            </mat-error>
        </mat-form-field>
        <!--  -->
        <mat-form-field class="form-half-width form-separator" *ngIf="mode === 'Edit'">
            <input matInput placeholder="{{ 'ottoAG.promotion.budget' | translate }}" name="budget" [(ngModel)]="budgetVal" disabled>
        </mat-form-field>
        <mat-form-field class="form-half-width" *ngIf="mode === 'Edit'">
            <input matInput placeholder="{{ 'ottoAG.promotion.balance' | translate }}" name="balance" [(ngModel)]="balanceVal" disabled>
        </mat-form-field>
        <mat-form-field class="form-half-width form-separator">
            <input matInput placeholder="{{ 'ottoAG.promotion.maxPromoAmount' | translate }}" name="maxPromoAmount" [(ngModel)]="maxPromoAmountVal" (keyup)="currencyFormat($event, 'maxPromoAmount')" required>
            <mat-error *ngIf="submitted && form.maxPromoAmount.errors" class="invalid-feedback">
                <div *ngIf="form.maxPromoAmount.errors.required"> {{form.maxPromoAmount.errors.message}}</div>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="form-half-width">
            <input matInput placeholder="{{ 'ottoAG.promotion.minTransAmount' | translate }}" name="minTransAmount" [(ngModel)]="minTransAmountVal" (keyup)="currencyFormat($event, 'minTransAmount')" required>
            <mat-error *ngIf="submitted && form.minTransAmount.errors" class="invalid-feedback">
                <div *ngIf="form.minTransAmount.errors.required"> {{form.minTransAmount.errors.message}}</div>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="form-half-width form-separator">
            <input matInput placeholder="{{ 'ottoAG.promotion.applyToMemberTypeId' | translate }}" aria-label="Member Type" [matAutocomplete]="auto" [formControl]="billSubsCtrl" required>
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFnBillSubs">
                <mat-option *ngFor="let billSubs of filteredBillSubs | async" [value]="billSubs">
                    <span>{{billSubs.member.name + ' (' + billSubs.memberCode + ')'}}</span>
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="form-half-width">
            <input matInput placeholder="{{ 'ottoAG.promotion.onBehalfId' | translate }}" aria-label="On Behalf" [matAutocomplete]="autoComp" [formControl]="memberCtrl" required>
            <mat-autocomplete #autoComp="matAutocomplete" [displayWith]="displayFnMem">
                <mat-option *ngFor="let member of filteredMember | async" [value]="member">
                    <span>{{ member.name }}</span>
                </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="submitted && form.onBehalfId.errors" class="invalid-feedback">
                <div *ngIf="form.onBehalfId.errors.required"> {{form.onBehalfId.errors.message}}</div>
            </mat-error>
        </mat-form-field>
        <div class="form-half-width form-separator" style="display: inline-block;">
            <mat-checkbox [color]="'primary'" [(ngModel)]="promotion.budgetRequired" [ngModelOptions]="{standalone: true}" style="margin-right: 10px">{{ 'ottoAG.promotion.budgetRequired' | translate }}</mat-checkbox>
        </div>
		<mat-form-field class="form-half-width">
			<mat-select placeholder="{{ 'ottoAG.promotion.status' | translate }}" [(ngModel)]="promotion.active" name="status">
				<mat-option *ngFor="let status of statusList" [value]="status">
                    <!-- {{status === 'ACTIVE' ? 'AVAILABLE' : 'DISCONTINUED'}} -->
                    {{status}}
				</mat-option>
			</mat-select>
		</mat-form-field>
    </div>
    <div mat-dialog-actions align="end">
        <!-- <button mat-raised-button (click)="onNoClick()">Cancel</button> -->
        <button mat-raised-button color="primary" cdkFocusInitial (click)="validate()">{{ "entity.action.save" | translate }}</button>
    </div>
</form>