.form-container {
	min-width: 150px;
	max-width: 1000px;
	width: 100%;
}

.mat-dialog-content {
	min-height: 300px;
    max-height: inherit !important;
}

.form-half-width {
	width: 45%;
	/* margin-right: 5%; */
}

.form-separator {
	margin-right: 10%;
}
