<mat-card>
    <mat-card-header>
        <mat-card-title style="align-items: center">
            <!-- <h2 style="color: rgb(226, 0, 0)" >Biller Type</h2>         -->
            <h1 mat-dialog-title class="header-title">Response Code</h1>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div style="text-align: left;">
            <button mat-raised-button color="primary"  (click)="openNewDialog()" class="button-custom">Add</button>&nbsp;&nbsp;
            <button mat-raised-button class="primary"  (click)="exportCSV('csv')" class="button-custom" >Export CSV</button>
        </div>
        <br>
        <div> 
            <mat-form-field class="container-half-width" >
                <input matInput placeholder="Filter Respose Code " [(ngModel)]="filter.responseCode"  
                    name ="responseCode"  >
            </mat-form-field> 
            <mat-form-field class="container-half-width" >
                <input matInput placeholder="Filter Description " [(ngModel)]="filter.description"  
                    name ="description"  >
            </mat-form-field> 
            <mat-form-field class="container-half-width" >
                <input matInput placeholder="Filter Member Biller " [(ngModel)]="filter.memberName"  
                    name ="memberName"  >
            </mat-form-field>  
            <mat-form-field class="container-half-width" >
                <input matInput placeholder="Filter Member Type" [(ngModel)]="filter.memberType"  
                    name ="memberType"  >
            </mat-form-field>     
              
            <button mat-raised-button color="primary" (click)="actionfilter()" style="margin-left: 20px"  class="button-custom">Filter</button>
        </div>
        <br>
        <ag-grid-angular 
        #agGrid
            style="height: 313px;" 
            class="{{theme}}"
            [gridOptions]="gridOptions" 
            (gridReady)="onGridReady($event)"
            (rowClicked)="onRowClicked($event)"
            >
        </ag-grid-angular>
        
        <div >
            <mat-paginator 
                [length]="totalData"
                [pageSize]="totalRecord"
                [pageSizeOptions]="[totalRecord]"
                (page)="onPaginateChange($event)">
            </mat-paginator>
        </div> 
    </mat-card-content>
</mat-card>
    
