<h1 mat-dialog-title>   
    {{data.action}} {{data.entity}}
</h1>
<form name="responseCodeForm" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate> 
<mat-dialog-content> 
 
  <mat-form-field class="form-half-width" style="margin-right: 10%"> 
        <mat-select placeholder="Member Biller" [(ngModel)]="responseCode.billerHeaderId"  name ="billerHeaderId"  required>
            <mat-option *ngFor="let biller of billerList" [value]="biller.id"> 
                {{biller.member.name}} [{{biller.memberType.name}}] 
            </mat-option> 
        </mat-select>  
        <mat-error *ngIf="submitted && form.billerHeaderId.errors" class="invalid-feedback">
            <div *ngIf="form.billerHeaderId.errors.required"> {{form.billerHeaderId.errors.message}}</div>
        </mat-error>
    </mat-form-field>	 
    
         <mat-form-field class="container-full-width"> 
                <input matInput placeholder="Response Code " [(ngModel)]="responseCode.responseCode" cdkFocusInitial name ="code"  required maxlength="3">
                <mat-error *ngIf="submitted && form.code.errors" class="invalid-feedback">
                        <div *ngIf="form.code.errors.required"> {{form.code.errors.message}}</div>
                </mat-error> 
        </mat-form-field> 

        <mat-form-field class="container-full-width">
            <input matInput placeholder="Description" [(ngModel)]="responseCode.description"  name ="description"  required maxlength="255">
            <mat-error *ngIf="submitted && form.description.errors" class="invalid-feedback">
                    <div *ngIf="form.description.errors.required"> {{form.description.errors.message}}</div>
            </mat-error> 
        </mat-form-field>
  
      <br><br>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-raised-button  color="primary" (click)="validate()" >Save</button> 
</mat-dialog-actions>

</form>