<h1 mat-dialog-title>
    {{data.action}} Member
</h1>
<form name="memberForm" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
<mat-dialog-content>
        <!-- <mat-form-field ng-show="false" class="container-full-width">
            <input matInput placeholder="Id" value="{{member.id}}" [disabled]="true"  >
        </mat-form-field> -->
        <mat-form-field class="container-half-width" style="margin-right: 10%">
        <input matInput placeholder="Name " [(ngModel)]="member.name" cdkFocusInitial name ="nm" [(ngModel)]="member.name" #name="ngModel" [ngClass]="{ 'is-invalid': f.submitted && member.invalid }"  required maxlength="50">
        <!-- [disabled]="data.action === 'Edit'" -->
        <mat-error *ngIf="submitted && form.name.errors" class="invalid-feedback">
                <div *ngIf="form.name.errors.required"> {{form.name.errors.message}}</div>
        </mat-error>  
        </mat-form-field>
        <!-- <mat-form-field class="container-full-width">
            <input matInput placeholder="Protocol Type " [(ngModel)]="member.protocolType" name ="protocolType">
        </mat-form-field> -->
        <mat-form-field class="container-half-width">
            <!-- <input matInput placeholder="Description" [(ngModel)]="member.description" name ="description"> -->
            <input matInput placeholder="Description " [(ngModel)]="member.description"  name ="descr" [(ngModel)]="member.description" #description="ngModel" [ngClass]="{ 'is-invalid': f.submitted && description.invalid }" required maxlength="255">
            <mat-error *ngIf="submitted && form.description.errors" class="invalid-feedback">
                    <div *ngIf="form.description.errors.required"> {{form.description.errors.message}}</div>
            </mat-error> 
        </mat-form-field>
        <mat-form-field class="container-half-width">
            <mat-select placeholder="Status" [(ngModel)]="member.active" name="stts">
                <mat-option *ngFor="let status of statusList" [value]="status">
                  {{status}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    
    <mat-dialog-actions align="end">
        <button mat-button mat-raised-button color='primary' (click)="validate()" style="margin-bottom: 10px;">Save</button>
        <button mat-raised-button class="primary" type="button"  (click)="exportDetaiCSV('csv', member.id)" style="margin-bottom: 10px;">Export CSV</button>
       
        <!-- <button mat-button mat-raised-button mat-dialog-close (click)="onNoClick()">Close</button> -->
    </mat-dialog-actions> 
    <br><br>

    <fieldset style="border: 1px #ddd solid">
        <br>
        <button type="button" mat-raised-button color='primary' (click)="openNewDialog()" style="margin-bottom: 10px;">Add New Bank Account</button>
        <br>
        <ag-grid-angular 
            #agGrid
            style="height: 300px; widows: 100%;" 
            class="{{theme}}"
            [gridOptions]="gridOptions" 
            (gridReady)="onGridReady($event)"
            (rowClicked)="onRowClicked($event)"
            >
        </ag-grid-angular>
    </fieldset>
</mat-dialog-content>
<!-- <mat-dialog-actions align="end">
  <button mat-button mat-raised-button color='primary' (click)="save()" >Save</button>
  <button mat-button mat-raised-button mat-dialog-close (click)="onNoClick()">Close</button>
</mat-dialog-actions> -->

</form>

 