<mat-card>
    <mat-card-header>
        <mat-card-title style="align-items: center">
            <!-- <h2 style="color: rgb(226, 0, 0)" >Member Registration</h2>         -->
            <h2 mat-dialog-title>Member Maintenance</h2>    
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div style="text-align: left">
            <button mat-raised-button color="primary" (click)="openNewDialog()" style="margin-bottom: 10px;">Add Member</button>
            <button mat-raised-button class="primary"  (click)="exportCSV('csv')" style="margin-bottom: 10px;">Export CSV</button>
        </div>
        <br>
        <div>
            <mat-form-field class="container-half-width" >
                <input matInput placeholder="Filter Name " [(ngModel)]="filter.name"  
                    name ="name"  >
            </mat-form-field>
            <mat-form-field class="container-half-width"  style="margin-left: 30px">
                <input matInput placeholder="Filter Description " [(ngModel)]="filter.description"  
                    name ="descr" >
            </mat-form-field>
            <mat-form-field class="form-full-width" style="margin-left: 30px">
                <mat-select placeholder="Filter Status" [(ngModel)]="filter.active" name="status">
                    <mat-option *ngFor="let status of statusList" [value]="status">
                        <!-- {{ status === 'true' ? 'ACTIVE' : ( status === 'false' ? 'INACTIVE' : 'ALL' )   }} -->
                        {{status}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="actionfilter()" style="margin-left: 30px">Filter</button>
        </div>
        <br>
        <ag-grid-angular 
            #agGrid
            style="height: 550px;" 
            class="{{theme}}"
            [gridOptions]="gridOptions" 
            (gridReady)="onGridReady($event)"
            (rowClicked)="onRowClicked($event)"
            >
        </ag-grid-angular>
        <!-- <button mat-raised-button color="primary" (click)="prevPage()" [disabled]="isFirst"
            style="width: 50px" >
        </button>
         -->
         <!-- <div class="page_custom" >
             <button mat-icon-button (click)="firstPage()" [disabled]="isFirst" >
                 <mat-icon>first_page</mat-icon>
             </button>
              <button mat-icon-button (click)="prevPage()" [disabled]="isFirst" >
                 <mat-icon>chevron_left</mat-icon>
             </button>
     
             Page {{curPage}} of {{totalpage}}
             <button mat-icon-button (click)="nextPage()" [disabled]="isLast" >
                 <mat-icon>chevron_right</mat-icon>
             </button>
             <button mat-icon-button (click)="lastPage()" [disabled]="isLast" >
                 <mat-icon>last_page</mat-icon>
             </button>
         </div> -->
         
        <div style="width: 1150px" >
            <mat-paginator 
               [length]="totalData"
               [pageSize]="totalRecord"
               [pageSizeOptions]="[totalRecord]"
               (page)="onPaginateChange($event)">
           </mat-paginator>
        </div> 

    </mat-card-content>
</mat-card>

    


