<h1 mat-dialog-title>
    {{data.action}} {{data.entity}}
</h1>
<mat-dialog-content>
    <form class="container-form">
        <!-- <mat-form-field ng-show="false" class="container-full-width">
            <input matInput placeholder="Id" value="{{member.id}}" [disabled]="true"  >
        </mat-form-field> -->
        <mat-form-field class="container-half-width" style="margin-right: 10%">
            <input matInput placeholder="Name " [(ngModel)]="member.name" cdkFocusInitial name ="namee">
        </mat-form-field>
        <!-- <mat-form-field class="container-full-width">
            <input matInput placeholder="Protocol Type " [(ngModel)]="member.protocolType" name ="protocolType">
        </mat-form-field> -->
        <mat-form-field class="container-half-width">
            <input matInput placeholder="Description" [(ngModel)]="member.description" name ="description">
        </mat-form-field>
        <mat-form-field class="container-half-width">
            <mat-select placeholder="Status" [(ngModel)]="member.active" name="stts">
                <mat-option *ngFor="let status of statuses" [value]="status.value">
                  {{status.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>

    <br>
    
    
    <button mat-raised-button color='primary' (click)="openNewDialog()" style="margin-bottom: 10px;">Add New Bank Account</button>
    <fieldset style="border: 1px #ddd solid">
        <ag-grid-angular 
            #agGrid
            style="height: 300px; widows: 100%;" 
            class="{{theme}}"
            [gridOptions]="gridOptions" 
            (gridReady)="onGridReady($event)"
            (rowClicked)="onRowClicked($event)"
            >
        </ag-grid-angular>
    </fieldset>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-raised-button color='primary' (click)="save()" >Save</button>
  <button mat-button mat-raised-button mat-dialog-close (click)="onNoClick()">Close</button>
</mat-dialog-actions>

