<mat-card>
    <mat-card-header>
        <mat-card-title style="align-items: center">
            <!-- <h2 style="color: rgb(226, 0, 0)" >User</h2> -->
            <h2 mat-dialog-title>User</h2>        
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div style="text-align: left">
            <button mat-raised-button color="primary" (click)="openNewDialog()" style="margin-bottom: 10px;">Add User</button>
        </div>
    <ag-grid-angular 
    #agGrid
        style="height: 500px" 
        class="{{theme}}"
        [gridOptions]="gridOptions" 
        (gridReady)="onGridReady($event)"
        (cellClicked)="onCellClicked($event)"
        >
    </ag-grid-angular>
    </mat-card-content>
</mat-card>
    
