<h1 mat-dialog-title>
    <!-- {{data.action}} - {{data.entity}} -->
    {{data.action}} {{data.entity}}
</h1>
<mat-dialog-content>
    <!-- <form class="container-form"> -->
        <!-- <mat-form-field class="container-full-width">
            <input matInput placeholder="Id" value="{{user.id}}" [disabled]="true" >
        </mat-form-field> -->
    <mat-form-field class="container-half-width" style="margin-right: 10%">
        <input matInput placeholder="Name " [(ngModel)]="user.name"  cdkFocusInitial name ="namea" >
    </mat-form-field>
    <!-- <div *ngIf="data.action === 'Add'" >
        <mat-form-field class="container-full-width">
            <input type="password" matInput placeholder="Password " [(ngModel)]="pass"  cdkFocusInitial name ="passw" >
        </mat-form-field>
        <mat-form-field class="container-full-width">
            <input type="password" matInput placeholder="Confirm password " [(ngModel)]="confirmP"  cdkFocusInitial name ="confirm_p" >
        </mat-form-field>
    </div> -->

    <mat-form-field class="container-half-width">
        <input matInput placeholder="Email" [(ngModel)]="user.email" name="emaie"
        [formControl]="emailFormControl" >
    </mat-form-field>
    <mat-form-field class="container-half-width">
        <mat-select placeholder="Status" [(ngModel)]="user.status" name="sttss">
            <mat-option *ngFor="let status of statuses" [value]="status.value">
                {{status.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <br>

        <button mat-button mat-raised-button class="btnSave" (click)="save()" >Save</button>
            <button [disabled]="data.action !== 'Edit'" mat-button  mat-raised-button class="btnAdd" (click)="resetPassword()">Reset password</button>
        <!-- <div *ngIf="data.action === 'Edit'" > -->
        <!-- </div> -->

    <br>
    <br>
    <fieldset style="border: 1px #ddd solid">
        <mat-form-field class="container-half-width">
            <mat-select placeholder="Status" [(ngModel)]="roleSelected" name="role">
                <mat-option *ngFor="let role of roleList" [value]="role">
                    {{role.description}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <button mat-button mat-raised-button color="primary" (click)="addRole()">Add Role</button>
        <ag-grid-angular 
            #agGrid
            style="height: 300px; width: 100%;" 
            class="{{theme}}"
            [gridOptions]="gridOptions" 
            (gridReady)="onGridReady($event)"
            (rowClicked)="onRowClicked($event)"
            >
        </ag-grid-angular>
    </fieldset>
    <br>

    <!-- </form> -->
    
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-raised-button color="primary" (click)="save()" >Save</button>
    <button mat-button (click)="closeForm()" >Close</button>
</mat-dialog-actions>
<br><br>
