<mat-card>
    <mat-card-header>
        <mat-card-title style="align-items: center">
            <!-- <h2 mat-dialog-title>User</h2> -->
			<h2 mat-dialog-title translate="ottoAG.user.home.title"></h2>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div style="text-align: left">
                <button mat-raised-button color="primary" (click)="openNewDialog()" style="margin-bottom: 10px;">{{ "ottoAG.user.home.addLabelButton" | translate }}</button>
                <button mat-raised-button class="primary"  (click)="exportCSV('csv')" style="margin-bottom: 10px;">{{ "entity.action.exportCSV" | translate }}</button>
        </div> 
        <div>
            <mat-form-field class="container-half-width" >
                <input matInput placeholder="{{ 'ottoAG.user.filter.name' | translate }}" [(ngModel)]="filter.name"  
                    name ="name"  >
            </mat-form-field>
            <mat-form-field class="container-half-width">
                <input matInput placeholder="{{ 'ottoAG.user.filter.firstName' | translate }}" [(ngModel)]="filter.firstName"  
                    name ="fname" >
            </mat-form-field>
            <mat-form-field class="container-half-width">
                <input matInput placeholder="{{ 'ottoAG.user.filter.lastName' | translate }}" [(ngModel)]="filter.lastName"  
                    name ="lname" >
            </mat-form-field>
            <mat-form-field class="container-half-width">
                <input matInput placeholder="{{ 'ottoAG.user.filter.email' | translate }}" [(ngModel)]="filter.email"  
                    name ="email" >
            </mat-form-field>
            <mat-form-field class="form-full-width">
                <mat-select placeholder="{{ 'ottoAG.user.filter.status' | translate }}" [(ngModel)]="filter.status" name="status">
                    <mat-option *ngFor="let status of statuses" [value]="status">
                        {{status}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="filterBtn()" style="margin-left: 30px">Filter</button>
        </div>
        <ag-grid-angular 
            #agGrid
            style="height: 315px" 
            class="{{theme}}"
            [gridOptions]="gridOptions" 
            (gridReady)="onGridReady($event)"
            (cellClicked)="onCellClicked($event)"
            >
        </ag-grid-angular>
    
        <div>
        <mat-paginator 
            [length]="totalData"
            [pageSize]="totalRecord"
            [pageSizeOptions]="[totalRecord]"
            (page)="onPaginateChange($event)">
            </mat-paginator>
        </div> 
    </mat-card-content>
</mat-card>
    
