.form-container {
	min-width: 150px;
	max-width: 1000px;
	width: 100%;
}

.form-full-width {
	width: 40%;
	margin-right: 5%;
}

/* .mat-dialog-content {
	min-height: 450px;
    max-height: inherit !important;
} */

::ng-deep .mat-tooltip  {
    white-space: pre-line    !important;
}

/* 
.tooltip-custom {
    position: relative;
    display: inline-block;
}

.tooltip-custom .tooltip-text {
    visibility: hidden;
	width: 500px;
	height: 250px;
    background-color: #ddd;
    color: #555;
    text-align: center;
    padding: 5px 0;
	border-radius: 6px;
	border-width: thin;
	border-style: solid;

    position: absolute;
    z-index: 1;
    top: 125%;
    left: 50%;
    margin-left: -250px;

    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-custom .tooltip-text::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #ddd transparent;
}

.tooltip-custom:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
} 
*/