<mat-card>
    <mat-card-header>
        <mat-card-title style="align-items: center">
            <h2 *ngIf="entityName === 'Trans'" mat-dialog-title translate="ottoAG.transactionList.home.title"></h2>
            <h2 *ngIf="entityName === 'TransAdjust'" mat-dialog-title translate="ottoAG.transactionAdjust.home.title"></h2>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <!-- <div style="text-align: left">
            <button mat-raised-button color="primary"  (click)="openNewDialog()" style="margin-bottom: 10px;">{{ 'ottoAG.transactionType.home.addLabelButton' | translate }}</button> 
             <button mat-raised-button class="primary"  (click)="exportCSV('csv')" style="margin-bottom: 10px;">{{ 'entity.action.exportCSV' | translate}}</button>
        </div>
        <br> -->
        <div>
            <mat-form-field class="form-half-width" *ngIf="entityName === 'Trans'">
				<input matInput [matDatepicker]="pickerFStart" placeholder="{{ 'ottoAG.transactionList.filter.startDateFrom' | translate }}" (click)="pickerFStart.open()" [max]="dateTStartCtrl.value" [formControl]="dateFStartCtrl" readonly>
                <mat-datepicker-toggle matSuffix *ngIf="dateFStartCtrl.value === null" [for]="pickerFStart"></mat-datepicker-toggle>
                <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="dateFStartCtrl.value !== null" (click)="dateFStartCtrl.setValue(null)">
                    <mat-icon>close</mat-icon>
                </button>
				<mat-datepicker #pickerFStart></mat-datepicker>
			</mat-form-field>
			<mat-form-field class="form-half-width" *ngIf="entityName === 'Trans'">
				<input matInput [matDatepicker]="pickerTStart" placeholder="{{ 'ottoAG.transactionList.filter.startDateTo' | translate }}" (click)="pickerTStart.open()" [min]="dateFStartCtrl.value" [formControl]="dateTStartCtrl" readonly>
                <mat-datepicker-toggle matSuffix *ngIf="dateTStartCtrl.value === null" [for]="pickerTStart"></mat-datepicker-toggle>
                <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="dateTStartCtrl.value !== null" (click)="dateTStartCtrl.setValue(null)">
                    <mat-icon>close</mat-icon>
                </button>
				<mat-datepicker #pickerTStart></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="form-half-width">
                <mat-select placeholder="{{ 'ottoAG.transactionList.filter.transType' | translate }}" [(ngModel)]="filter.transTypeCode" name="transType">
                    <!-- <mat-option [value]="'ALL'">ALL</mat-option> -->
                    <mat-option *ngFor="let transType of transTypeList" [value]="transType.code">
                        {{transType.name}}
                    </mat-option>                    
                </mat-select>
                <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="filter.transTypeCode !== null" (click)="$event.stopPropagation();filter.transTypeCode = null">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field class="form-half-width" *ngIf="entityName === 'Trans'">
                <mat-select placeholder="{{ 'ottoAG.transactionList.filter.rcInternal' | translate }}" [(ngModel)]="filter.rcInternal">
                    <!-- <mat-option [value]="'ALL'">ALL</mat-option> -->
                    <mat-option *ngFor="let rcInt of respCodeInternalList" [value]="rcInt.responseCode">
                        {{ rcInt.description }}
                    </mat-option>
                </mat-select>
                <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="filter.rcInternal !== null" (click)="$event.stopPropagation();filter.rcInternal = null">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <br *ngIf="entityName === 'Trans'">
            <mat-form-field class="form-half-width">
                <!-- <mat-select placeholder="{{ 'ottoAG.transactionList.filter.requestor' | translate }}" [(ngModel)]="filter.requestorId" name="requestor">
                    <mat-option *ngFor="let requestor of requestorList" [value]="requestor.id">
                        {{requestor.member.name + ' (' + requestor.memberCode + ')'}}
                    </mat-option>
                </mat-select> -->
                <input matInput placeholder="{{ 'ottoAG.transactionList.filter.requestor' | translate }}" aria-label="Requestor" [matAutocomplete]="auto" [formControl]="requestorCtrl">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFnReq">
                    <mat-option *ngFor="let requestor of filteredReq | async" [value]="requestor">
                        <span>{{requestor.member.name + ' (' + requestor.memberCode + ')'}}</span>
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <br *ngIf="entityName === 'TransAdjust'">
            <mat-form-field class="form-half-width">
                <!-- <mat-select placeholder="{{ 'ottoAG.transactionList.filter.responder' | translate }}" [(ngModel)]="filter.responderId" name="responder">
                    <mat-option *ngFor="let responder of responderList" [value]="responder.id">
                        {{responder.member.name + ' (' + responder.memberCode + ')'}}
                    </mat-option>
                </mat-select> -->
                <input matInput placeholder="{{ 'ottoAG.transactionList.filter.responder' | translate }}" aria-label="Responder" [matAutocomplete]="autoRes" [formControl]="responderCtrl">
                <mat-autocomplete #autoRes="matAutocomplete" [displayWith]="displayFnRes">
                    <mat-option *ngFor="let responder of filteredRes | async" [value]="responder">
                        <span>{{responder.member.name + ' (' + responder.memberCode + ')'}}</span>
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field class="form-half-width">
                <!-- <mat-select placeholder="{{ 'ottoAG.transactionList.filter.product' | translate }}" [(ngModel)]="filter.productId" name="product">
                    <mat-option *ngFor="let product of productList" [value]="product.id">
                        {{product.name}}
                    </mat-option>
                </mat-select> -->
                <input matInput placeholder="{{ 'ottoAG.transactionList.filter.product' | translate }}" aria-label="Product" [matAutocomplete]="autoPrd" [formControl]="productCtrl">
                <mat-autocomplete #autoPrd="matAutocomplete" [displayWith]="displayFnPrd">
                    <mat-option *ngFor="let product of filteredProduct | async" [value]="product">
                        <span>{{ product.name }}</span>
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field class="form-half-width" *ngIf="entityName === 'Trans'">
                <input matInput placeholder="{{ 'ottoAG.transactionList.filter.approvalCode' | translate }}" [(ngModel)]="filter.approvalCode" name ="approvalCode" maxlength="12">
            </mat-form-field>
            <br *ngIf="entityName === 'Trans'">
            <mat-form-field class="form-half-width" *ngIf="entityName === 'Trans'">
                <mat-select placeholder="{{ 'ottoAG.transactionList.filter.rrnType' | translate }}" [(ngModel)]="filter.rrnType" name="rrnType">
                    <mat-option *ngFor="let rrn of rrnList" [value]="rrn.id">
                        {{ rrn.name }}
                    </mat-option>
                </mat-select>
                <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="filter.rrnType !== null" (click)="$event.stopPropagation(); filter.rrnType = null; filter.rrnVal = null">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field class="form-full-width" *ngIf="entityName === 'Trans'">
                <input matInput placeholder="{{ 'ottoAG.transactionList.filter.rrnVal' | translate }}" [(ngModel)]="filter.rrnVal" name ="rrnVal" [disabled]="filter.rrnType === null" maxlength="32">
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="actionfilter()" style="margin-left: 30px">Filter</button>
            &nbsp;
            <button mat-raised-button class="primary"  (click)="validateExport()" style="margin-bottom: 10px;">{{ 'entity.action.exportCSV' | translate}}</button>
        </div>
        <br>
        <ag-grid-angular 
            #agGrid
            style="height: 325px;" 
            class="{{theme}}"
            [gridOptions]="gridOptions" 
            (gridReady)="onGridReady($event)"
            (rowClicked)="onRowClicked($event)"
            >
        </ag-grid-angular>
        <div>
            <mat-paginator 
                [length]="totalData"
                [pageSize]="totalRecord"
                [pageSizeOptions]="[totalRecord]"
                (page)="onPaginateChange($event)">
            </mat-paginator>
        </div> 
    </mat-card-content>
</mat-card>
    