<h1 mat-dialog-title>{{data.action}} {{data.entity}}</h1>
<mat-dialog-content style="width: 100%">
    <!-- <form class="container-form" item-width="100%"> -->
        <!-- <mat-form-field class="container-full-width">
            <input matInput placeholder="Id" value="{{role.id}}" [disabled]="true" >
        </mat-form-field> -->
        <mat-form-field class="container-full-width">
            <input matInput placeholder="Name " [(ngModel)]="role.name"  cdkFocusInitial name ="namee" >
        </mat-form-field>
        <mat-form-field class="container-full-width">
            <input matInput placeholder="Description" [(ngModel)]="role.description" name="description">
        </mat-form-field>

        <fieldset style="border: 1px #ddd solid">
            <!-- <mat-form-field class="container-full-width">
                <mat-select placeholder="Menu" [(ngModel)]="menuSelected" name="selected_menu">
                    <mat-option *ngFor="let menu of menus" [value]="menu.id">
                        {{menu.description}}
                    </mat-option>
                </mat-select>
               
            </mat-form-field>
            <div style="text-align: right">
                <button mat-button mat-raised-button class="btnSave" (click)="addMenu()" >Add</button>
            </div> -->
            <ag-grid-angular 
                #agGrid
                style="height: 300px; width: 100%;" 
                class="{{theme}}"
                [gridOptions]="gridOptions" 
                (gridReady)="onGridReady($event)"
                (rowClicked)="onRowClicked($event)"
                >
            </ag-grid-angular>
        </fieldset>
    <!-- </form> -->
    
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" (click)="save()">Save</button>
</mat-dialog-actions>

                <!-- <div style="align-content: right; align-self: right; align-items: right; text-align: right">
    </div> -->
