<h2 mat-dialog-title>
    <h4 style="color: rgb(226, 0, 0)" >{{data.action}} {{data.entity}}</h4>
</h2>

<form [formGroup]="roleForm" (ngSubmit)="onSubmit()">
<mat-dialog-content style="width: 100%">  
            <mat-form-field class="container-full-width"> 
                    <input matInput type="text" placeholder="Name" [(ngModel)]="role.name" formControlName="name" name ="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.name.errors }" required maxlength="50"/> 
                    <mat-error *ngIf="submitted && form.name.errors" class="invalid-feedback"  >
                            <!-- {{form.name.errors.message}} -->
                        <div *ngIf="form.name.errors.required"> {{form.name.errors.message}} </div> 
                       
                        <!-- <div *ngIf="form.name.errors.validUrl"> {{form.name.errors.validurlmessage}} </div>  --> 
                    </mat-error> 
                     
            </mat-form-field>
    
        <mat-form-field class="container-full-width"> 
           <input matInput type="text" placeholder="Description" [(ngModel)]="role.description" formControlName="description" name ="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.description.errors }" required maxlength="255"/>
           <mat-error *ngIf="submitted && form.description.errors" class="invalid-feedback">
                <div *ngIf="form.description.errors.required"> {{form.description.errors.message}}</div>
            </mat-error> 
        </mat-form-field>  
        <mat-card>
            <!-- <mat-form-field class="container-full-width">
                <mat-select placeholder="Menu" [(ngModel)]="menuSelected" name="selected_menu">
                    <mat-option *ngFor="let menu of menus" [value]="menu.id">
                        {{menu.description}}
                    </mat-option>
                </mat-select>
               
            </mat-form-field>
            <div style="text-align: right">
                <button mat-button mat-raised-button class="btnSave" (click)="addMenu()" >Add</button>
            </div> -->
            <ag-grid-angular 
                #agGrid
                style="height: 300px; width: 100%;" 
                class="{{theme}}"
                [gridOptions]="gridOptions" 
                (gridReady)="onGridReady($event)"
                (rowClicked)="onRowClicked($event)"
                >
            </ag-grid-angular>
        </mat-card>
 
</mat-dialog-content>
  
<mat-dialog-actions >
    <button mat-button mat-dialog-close >Cancel</button>
    <button mat-button mat-raised-button class="btnSave" (click)="save()"  >Save</button>  
</mat-dialog-actions>



</form>

                <!-- <div style="align-content: right; align-self: right; align-items: right; text-align: right">
    </div> -->
