<mat-card>
    <mat-card-header>
        <mat-card-title style="align-items: center">
            <h2 style="color: rgb(226, 0, 0)" >Role</h2>        
                
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div style="text-align: right">
            <button mat-raised-button class="btnAdd" (click)="openNewDialog()" style="margin-bottom: 10px;">Add New Role</button>
        </div>
        <ag-grid-angular 
        #agGrid
            style="height: 600px;width: 100%" 
            class="{{theme}}"
            [gridOptions]="gridOptions" 
            (gridReady)="onGridReady($event)"
            (rowClicked)="onRowClicked($event)"
            >
        </ag-grid-angular>
    </mat-card-content>
</mat-card>
    
