<!-- <mat-sidenav-container>
	<mat-sidenav #sidenav mode="side" [(opened)]="opened">
		Sidenav content
	</mat-sidenav>

	<mat-sidenav-content>
		<div style="height: 100vh;">
			<mat-toolbar color="primary">
				<button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button>
				<span class="example-spacer"></span>
				<div fxShow="true" fxHide.lt-md="true">
					<a href="#" mat-button>Log Out</a>
				</div>
			</mat-toolbar>
		</div>

	</mat-sidenav-content>
</mat-sidenav-container> -->

<!-- <mat-nav-list>
	<a mat-list-item href="..." [routerLink]="''">OTTOAG</a>
	<mat-divider></mat-divider>
	<a mat-list-item href="..." *ngFor="let link of links" (click)="setMenuName(link.Name)" [routerLink]="link.Link"> {{ link.Name }} </a>
</mat-nav-list> -->

<mat-nav-list>
	<!-- <a mat-list-item href="..." [routerLink]="''">OTTOAG</a>
	<mat-divider></mat-divider> -->
    <div *ngFor="let link of links">
    	<mat-expansion-panel>
            <mat-expansion-panel-header [expandedHeight]="'48px'">
                <mat-list-item>
					<mat-icon mat-list-icon>{{ link.icon }}</mat-icon>
                    <a style="cursor: pointer;">
                        <p mat-line>{{link.name}}</p>
                    </a>
                </mat-list-item>
			</mat-expansion-panel-header>

			<!-- remark from this -->
			<div *ngFor="let subLink of link.subLinks" style="margin-left:18px;">
				<mat-expansion-panel *ngIf="subLink.subLinks">
					<mat-expansion-panel-header [expandedHeight]="'48px'">
						<mat-list-item>
							<a style="cursor: pointer;">
								<p mat-line>{{subLink.name}}</p>
							</a>
						</mat-list-item>
					</mat-expansion-panel-header>
					<mat-list style="margin-left:8px;">
						<div *ngFor="let subsubLink of subLink.subLinks">
							<mat-list-item [routerLink]="subsubLink.link">
								<a style="cursor: pointer;">
									<p mat-line> {{subsubLink.name}}</p>
								</a>
							</mat-list-item>
						</div>
					</mat-list>
				</mat-expansion-panel>
				<mat-list-item [routerLink]="subLink.link" *ngIf="subLink.subLinks === undefined">
					<a style="cursor: pointer;">
						<p mat-line> {{subLink.name}}</p>
					</a>
				</mat-list-item>
			</div>
			<!-- to this to rollback to previous version -->

			<!-- open this remark -->
            <!-- <mat-list style="margin-left:18px;">
                <div *ngFor="let subLink of link.subLinks">
                    <mat-list-item [routerLink]="subLink.link">
                        <a style="cursor: pointer;">
                            <p mat-line> {{subLink.name}}</p>
                        </a>
                    </mat-list-item>
                </div>
			</mat-list> -->
			<!-- to this to rollback to previous version -->
        </mat-expansion-panel>
    </div>
</mat-nav-list>
