<mat-nav-list>
	<div *ngFor="let link of links">
    	<mat-expansion-panel>
            <mat-expansion-panel-header [expandedHeight]="'48px'">
                <mat-list-item>
					<mat-icon mat-list-icon>{{ link.icon }}</mat-icon>
                    <a style="cursor: pointer;">
                        <p mat-line>{{link.description}}</p>
                    </a>
                </mat-list-item>
			</mat-expansion-panel-header>

			<div *ngFor="let subLink of link.subLinks" style="margin-left:18px;">
				<mat-expansion-panel *ngIf="subLink.subLinks && subLink.subLinks.length > 0">
					<mat-expansion-panel-header [expandedHeight]="'48px'" style="padding: 0;">
						<mat-list-item>
							<a style="cursor: pointer;">
								<p mat-line>{{subLink.description}}</p>
							</a>
						</mat-list-item>
					</mat-expansion-panel-header>
					<mat-list style="margin-left:8px;">
						<div *ngFor="let subsubLink of subLink.subLinks">
							<mat-list-item [routerLink]="subsubLink.link">
								<a style="cursor: pointer;">
									<p mat-line> {{subsubLink.description}}</p>
								</a>
							</mat-list-item>
						</div>
					</mat-list>
				</mat-expansion-panel>
				<mat-list-item [routerLink]="subLink.link" *ngIf="subLink.subLinks === undefined || subLink.subLinks.length === 0">
					<a style="cursor: pointer;">
						<p mat-line> {{subLink.description}}</p>
					</a>
				</mat-list-item>
			</div>
        </mat-expansion-panel>
    </div>
</mat-nav-list>


<!-- <mat-nav-list>
    <div *ngFor="let link of links">
    	<mat-expansion-panel>
            <mat-expansion-panel-header [expandedHeight]="'48px'">
                <mat-list-item>
					<mat-icon mat-list-icon>{{ link.icon }}</mat-icon>
                    <a style="cursor: pointer;">
                        <p mat-line>{{link.name}}</p>
                    </a>
                </mat-list-item>
			</mat-expansion-panel-header>

            <mat-list style="margin-left:18px;">
                <div *ngFor="let subLink of link.subLinks">
                    <mat-list-item [routerLink]="subLink.link">
                        <a style="cursor: pointer;">
                            <p mat-line> {{subLink.name}}</p>
                        </a>
                    </mat-list-item>
                </div>
			</mat-list>
        </mat-expansion-panel>
    </div>
</mat-nav-list> -->
