<!-- <h1 mat-dialog-title>{{ mode }} Biller Product</h1> -->
<h1 mat-dialog-title translate="ottoAG.billerDetail.detail.subDetail.title" [translateParams]="{mode: mode}"></h1>
<form name="billerDetForm" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
<div mat-dialog-content>
    <!-- <form class="form-container"> -->
        <mat-form-field style="width: 30%; margin-right: 5%">
            <input matInput placeholder="{{ 'ottoAG.billerDetail.billerType' | translate }}" aria-label="Biller Type" [matAutocomplete]="auto" [formControl]="billTypeCtrl" required>
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFnBil" (closed)='closed()'>
                <mat-option *ngFor="let billerType of filteredBillType | async" [value]="billerType">
                    <span>{{ billerType.name }}</span>
                </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="submitted && form.billType.errors" class="invalid-feedback">
                <div *ngIf="form.billType.errors.required"> {{form.billType.errors.message}}</div>
            </mat-error>
        </mat-form-field>
        <mat-form-field style="width: 30%; margin-right: 5%">
            <input matInput placeholder="{{ 'ottoAG.billerDetail.billerCompany' | translate }}" aria-label="Biller Company" [matAutocomplete]="autoComp" [formControl]="billCompanyCtrl" required>
            <mat-autocomplete #autoComp="matAutocomplete" [displayWith]="displayFnCom" (closed)='closed()'>
                <mat-option *ngFor="let billerCompany of filteredBillCompany | async" [value]="billerCompany">
                    <span>{{ billerCompany.name }}</span>
                </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="submitted && form.billComp.errors" class="invalid-feedback">
                <div *ngIf="form.billComp.errors.required"> {{form.billComp.errors.message}}</div>
            </mat-error>
        </mat-form-field>
        <mat-form-field style="width: 30%">
            <!-- <input matInput placeholder="Product Name" name="product" [value]="product"> -->
            <mat-select placeholder="{{ 'ottoAG.billerDetail.denom' | translate }}" name="product" [(ngModel)]="billerDetail.billerProductId" required>
                <mat-option *ngFor="let product of productList" [value]="product.id">
                    {{product.denom}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="submitted && form.denom.errors" class="invalid-feedback">
                <div *ngIf="form.denom.errors.required"> {{form.denom.errors.message}}</div>
            </mat-error>
        </mat-form-field>
        <!-- <mat-form-field class="form-full-width">
            <input matInput placeholder="External Code" name="externalCode" [(ngModel)]="billerDetail.externalCode">
        </mat-form-field> -->
        <mat-form-field style="width: 30%; margin-right: 5%">
            <input type="number" matInput placeholder="{{ 'ottoAG.billerDetail.buyPrice' | translate }}" name="buyPrice" [(ngModel)]="billerDetail.buyPrice" [disabled]="buyPriceDisabled" min="0" (blur)="valCheck('buyPrice')" required>
            <mat-icon matSuffix matTooltip="Harga beli harus 0 bila Postpaid&#13;Harga beli dapat diinput bila Prepaid">help</mat-icon>
            <mat-error *ngIf="submitted && form.buyPrice.errors" class="invalid-feedback">
                <div *ngIf="form.buyPrice.errors.required"> {{form.buyPrice.errors.message}}</div>
            </mat-error>
        </mat-form-field>
        <mat-form-field style="width: 30%; margin-right: 5%">
            <input type="number" matInput placeholder="{{ 'ottoAG.billerDetail.fee' | translate }}" name="fee" [(ngModel)]="billerDetail.fee" min="0" (blur)="valCheck('fee')" required>
            <mat-error *ngIf="submitted && form.fee.errors" class="invalid-feedback">
                <div *ngIf="form.fee.errors.required"> {{form.fee.errors.message}}</div>
            </mat-error>
        </mat-form-field>
        <mat-form-field style="width: 30%">
            <input matInput placeholder="{{ 'ottoAG.billerDetail.sellPrice' | translate }}" name="sellPrice" value="{{ billerDetail.buyPrice + billerDetail.fee | currency:'Rp'}}" disabled>            
        </mat-form-field>        
        <mat-form-field class="form-full-width" style="margin-right: 10%">
            <input type="number" matInput placeholder="{{ 'ottoAG.billerDetail.profit' | translate }}" name="profit" [(ngModel)]="billerDetail.profit" min="0" max="billerDetail.fee" (blur)="valCheck('profit')" required>
            <mat-error *ngIf="submitted && form.profit.errors" class="invalid-feedback">
                <div *ngIf="form.profit.errors.required"> {{form.profit.errors.message}}</div>
            </mat-error>
        </mat-form-field>        
        <!-- <section class="form-full-width">
            <mat-checkbox class="example-margin" [color]="'primary'" [(ngModel)]="statusData" [ngModelOptions]="{standalone: true}">Active</mat-checkbox>
        </section> -->
        <mat-form-field class="form-full-width">
			<mat-select placeholder="{{ 'ottoAG.billerDetail.status' | translate }}" [(ngModel)]="billerDetail.status" name="status" required>
				<mat-option *ngFor="let status of statusList" [value]="status">
					{{status === 'ACTIVE' ? 'AVAILABLE' : 'DISCONTINUED'}}
				</mat-option>
            </mat-select>
            <mat-error *ngIf="submitted && form.status.errors" class="invalid-feedback">
                <div *ngIf="form.status.errors.required"> {{form.status.errors.message}}</div>
            </mat-error>
        </mat-form-field>
        
        <mat-form-field class="form-full-width" style="margin-right: 10%">
            <input type="text" matInput placeholder="{{ 'ottoAG.billerDetail.externalCode' | translate }}" name="externalCode" [(ngModel)]="billerDetail.externalCode" [disabled]="extCodeDisabled" required> 
            <mat-error *ngIf="submitted && form.externalCode.errors" class="invalid-feedback">
                <div *ngIf="form.externalCode.errors.required"> {{form.externalCode.errors.message}}</div>
            </mat-error>
        </mat-form-field>  

        <!-- <mat-form-field class="form-full-width">
			<mat-select placeholder="Bill Pay Type" [(ngModel)]="billerDetail.billPayType" name="billPayType">
				<mat-option *ngFor="let billPayType of billPayTypeList" [value]="billPayType">
					{{billPayType}}
				</mat-option>
            </mat-select> 
        </mat-form-field> -->
<!--         
        <mat-form-field class="form-full-width">
            <mat-select placeholder="Type" [(ngModel)]="billerDetail.postPaid" name="type">
                <mat-option *ngFor="let type of typeList" [value]="type.value">
                    {{type.desc}}
                </mat-option>
            </mat-select>
        </mat-form-field> -->
        

    <!-- </form> -->
</div>
<div mat-dialog-actions align="end">
    <button mat-raised-button type="button" (click)="onNoClick()">{{ "entity.action.cancel" | translate }}</button>
    <button mat-raised-button color="primary" cdkFocusInitial (click)="validate()">{{ "ottoAG.billerPriceDetail.detail.subDetail.addLabelButton" | translate:{mode: mode} }}</button>
</div>
</form>