<mat-card>
    <mat-card-header>
        <mat-card-title style="align-items: center">
            <!-- <h2 style="color: rgb(226, 0, 0)" >Global Setting</h2>         -->
            <!-- <h2 mat-dialog-title>Global Settings</h2> -->
            <h2 mat-dialog-title translate="ottoAG.globalSettings.home.title"></h2>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div style="text-align: left">
            <button mat-raised-button color="primary"  (click)="openNewDialog()" style="margin-bottom: 10px;">{{ 'ottoAG.globalSettings.home.addLabelButton' | translate }}</button>
        </div>
        <br>
        <div>
            <mat-form-field class="container-half-width" >
                <input matInput placeholder="{{ 'ottoAG.globalSettings.filter.name' | translate }}" [(ngModel)]="filter.name"  
                    name ="name"  >
            </mat-form-field>
            <mat-form-field class="container-half-width"  style="margin-left: 30px">
                <input matInput placeholder="{{ 'ottoAG.globalSettings.filter.description' | translate }}" [(ngModel)]="filter.description"  
                    name ="descr" >
            </mat-form-field>
            <mat-form-field class="form-full-width" style="margin-left: 30px">
                <mat-select placeholder="{{ 'ottoAG.globalSettings.filter.type' | translate }}" [(ngModel)]="filter.globalType" name="globaltype">
                    <mat-option *ngFor="let globalType of globalTypeList" [value]="globalType">
                        {{globalType}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="filterBtn()" style="margin-left: 30px">Filter</button>
        </div>
        <br>
        <ag-grid-angular 
            #agGrid
            style="height: 314px;" 
            class="{{theme}}"
            [gridOptions]="gridOptions" 
            (gridReady)="onGridReady($event)"
            (rowClicked)="onRowClicked($event)"
            >
        </ag-grid-angular>
        <div>
            <mat-paginator 
                [length]="totalData"
                [pageSize]="totalRecord"
                [pageSizeOptions]="[totalRecord]"
                (page)="onPaginateChange($event)">
            </mat-paginator>
        </div> 
    </mat-card-content>
</mat-card>
    