<h1 mat-dialog-title>
    {{data.action}} {{data.entity}}
</h1>
<form name="globalSettingForm" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
<mat-dialog-content>
        <!-- <mat-form-field class="container-full-width">
            <input matInput placeholder="Id" value="{{globalSetting.id}}" [disabled]="true" >
        </mat-form-field> -->
        <mat-form-field class="container-half-width" style="margin-right: 10%">
            <!-- <input matInput placeholder="Global Type " [(ngModel)]="globalSetting.globalType" name ="type" > -->
            <mat-select placeholder="Global Tpe" [(ngModel)]="globalSetting.globalType" name="globTyp">
                <mat-option *ngFor="let option of globalTypeOption" [value]="option.value">
                  {{option.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="container-half-width">
            <input matInput placeholder="Name " [(ngModel)]="globalSetting.name" cdkFocusInitial name ="nm" [(ngModel)]="globalSetting.name" #name="ngModel" [ngClass]="{ 'is-invalid': f.submitted && description.invalid }" required maxlength="30">
            <mat-error *ngIf="submitted && form.name.errors" class="invalid-feedback">
                    <div *ngIf="form.name.errors.required"> {{form.name.errors.message}}</div>
            </mat-error> 
        </mat-form-field>
        <mat-form-field class="container-full-width">
            <input matInput placeholder="Description " [(ngModel)]="globalSetting.description"  name ="descr" [(ngModel)]="globalSetting.description" #description="ngModel" [ngClass]="{ 'is-invalid': f.submitted && description.invalid }" required maxlength="100">
            <mat-error *ngIf="submitted && form.description.errors" class="invalid-feedback">
                    <div *ngIf="form.description.errors.required"> {{form.description.errors.message}}</div>
            </mat-error> 
        </mat-form-field>
      <br><br> 
    
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-raised-button class="btnSave" (click)="validate()" >Save</button>
  <button mat-button mat-raised-button mat-dialog-close>Cancel</button>
</mat-dialog-actions> 
</form>