
<mat-card>
    <mat-card-header>
        <mat-card-title style="align-items: center">
			<h2 mat-dialog-title>Audit Trail</h2> 			               
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
		<!-- <mat-form-field>
			<input matInput [matDatepicker]="picker" placeholder="Choose a date">
			<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
			<mat-datepicker #picker></mat-datepicker>
		</mat-form-field> -->
		
		<mat-grid-list cols="12" rowHeight="75px">
			<mat-grid-tile [colspan]="1">
				From
			</mat-grid-tile>
			<mat-grid-tile [colspan]="3">
				<mat-form-field>
				<input 
					matInput [matDatepicker]="pickerSt" 
					placeholder="Date Start" 
					(dateInput)="addEvent('start', $event)" 
					(click)="pickerSt.open()" 
					[formControl]="dateStatCtrl" readonly>
				<mat-datepicker-toggle matSuffix [for]="pickerSt"></mat-datepicker-toggle>
				<mat-datepicker #pickerSt></mat-datepicker>
				</mat-form-field>
			</mat-grid-tile>
			<mat-grid-tile [colspan]="1">
				To
			</mat-grid-tile>
			<mat-grid-tile [colspan]="3">
				<mat-form-field>
				<input 
					matInput [matDatepicker]="pickerTh" 
					placeholder="Date Through" 
					(dateInput)="addEvent('thru', $event)" 
					(click)="pickerTh.open()" 
					[formControl]="dateThruCtrl" readonly>
				<mat-datepicker-toggle matSuffix [for]="pickerTh"></mat-datepicker-toggle>
				<mat-datepicker #pickerTh></mat-datepicker>
				</mat-form-field>
			</mat-grid-tile>
			<mat-grid-tile [colspan]="2">
				<button mat-raised-button class="login-button" (click)="filter()" color="primary"> 
					<mat-icon>autorenew</mat-icon> Filter
				</button>
			</mat-grid-tile>
		</mat-grid-list>

        <ag-grid-angular 
			style="height: 600px;" 
			class="ag-theme-material"
			[gridOptions]="gridOptions"
			(gridReady)="onGridReady($event)"
			>
		</ag-grid-angular>
		
		<!-- <button mat-raised-button color="primary" (click)="" style="margin-bottom: 10px;">search</button>-->
		 <div>
			<mat-paginator 
				[length]="totalData"
				[pageSize]="totalRecord"
				[pageSizeOptions]="[totalRecord]"
				(page)="onPaginateChange($event)">
			</mat-paginator>
		</div>  
    </mat-card-content>
</mat-card>
