<mat-toolbar color="primary" class="app-toolbar">
	<!-- <button mat-button (click)="sidenav.toggle()">nav</button> -->
	<img src="assets/images/logo_ottopay_white_v1.0.png" style="height: 50px; margin-left: 50px; margin-right: 90px">
	<button mat-icon-button (click)="sidenav.toggle();">
		<mat-icon>menu</mat-icon>
	</button>
	<span class="spacer"></span>
		<button mat-icon-button [mat-menu-trigger-for]="menu">
			<mat-icon>more_vert</mat-icon>
		</button>
		<!-- The following menu items will be hidden on both SM and XS screen sizes -->
		<!-- <a><button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button></a> -->
		<!-- <a href="#" mat-button>Log Out</a> -->
		<mat-menu #menu="matMenu">
			<button mat-menu-item (click)="changePass()">
				<mat-icon>person</mat-icon>
				<span>Change Password</span>
			</button>
			<button mat-menu-item (click)="logout()">
				<mat-icon>exit_to_app</mat-icon>
				<span>Log Out</span>
			</button>
			<mat-divider></mat-divider>
			<div style="margin-top: 15px; margin-bottom: 10px;" align="center">
				<span class="mat-typography" style="font-size: 12px">OttoAG v1.0.6</span>
			</div>
		</mat-menu>
</mat-toolbar>
<mat-sidenav-container>	
	<mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="resizeColumn()" (closed)="resizeColumn()" class="mat-elevation-z8">
		<app-sidebar (menuNm)="onChangeMenu($event)"></app-sidebar>
	</mat-sidenav>

	<mat-sidenav-content>
		<div style="height: 87vh;">			
			<div style="margin: 10px">
				<router-outlet></router-outlet>
			</div>
			<!-- <mat-card class="main-container">
				<mat-card-header>
					<mat-card-title>{{ menuTitle }}</mat-card-title>
				</mat-card-header>			
				<mat-card-content>
					<router-outlet></router-outlet>
				</mat-card-content>				
			</mat-card> -->			
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>