mat-sidenav {
    width: 235px;
}

.main-container {
	max-width: 100%;
}

/* navbar */
.mat-toolbar-row, .mat-toolbar-single-row {
    /* height: 80px; */
    height: 62px;
    /* background: #0b51a0; */

    /* background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(13,68,131,1) 0%, rgba(25,103,191,1) 91%);  */
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(24,79,142,1) 0%, rgba(34,115,205,1) 91%); 
}

.app-toolbar {
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.spacer {
	flex: 1 1 auto;
}

.icon {
	padding: 0 14px;
}

.header-title {
    font-size: 12px;
}
/*  */