<h1 mat-dialog-title *ngIf="!manualDepo">{{ "ottoAG.manualRefund.detail.title" | translate:{mode: modeTitle} }}</h1>
<h1 mat-dialog-title *ngIf="manualDepo">{{ "ottoAG.manualDeposit.detail.title" | translate:{mode: modeTitle} }}</h1>
<form name="depositForm" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <div mat-dialog-content> 
        <mat-form-field class="form-half-width form-separator">
            <mat-select placeholder="{{ 'ottoAG.manualDeposit.biller' | translate }}" [(ngModel)]="deposit.memberTypeId" name="biller" required>
                <mat-option *ngFor="let biller of billerList" [value]="biller.id">
                    {{biller.member.name + ' (' + biller.memberCode + ')'}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="submitted && form.biller.errors" class="invalid-feedback">
                <div *ngIf="form.biller.errors.required"> {{form.biller.errors.message}}</div>
            </mat-error> 
        </mat-form-field>
		<mat-form-field class="form-half-width">
			<mat-select placeholder="{{ 'ottoAG.manualDeposit.transType' | translate }}" [(ngModel)]="deposit.transTypeId" name="transType" [disabled]="transTypeDisabled" required>
				<mat-option *ngFor="let transType of transTypeList" [value]="transType.id">
					{{transType.name}}
				</mat-option>
            </mat-select>
            <mat-error *ngIf="submitted && form.transType.errors" class="invalid-feedback">
                <div *ngIf="form.transType.errors.required"> {{form.transType.errors.message}}</div>
            </mat-error> 
		</mat-form-field>
		<mat-form-field class="form-half-width form-separator">
			<input type="number" min="0" matInput placeholder="{{ 'ottoAG.manualDeposit.amount' | translate }}" name ="amount" [(ngModel)]="deposit.amount" (blur)="valCheck('amount')" required>
			<mat-error *ngIf="submitted && form.amount.errors" class="invalid-feedback">
				<div *ngIf="form.amount.errors.required"> {{form.amount.errors.message}}</div>
			</mat-error> 
		</mat-form-field>
        <mat-form-field class="form-half-width">
            <input matInput [matDatepicker]="picker" placeholder="{{ 'ottoAG.manualDeposit.transDate' | translate }}" (dateInput)="addEvent($event)" (click)="picker.open()" [formControl]="dateCtrl" readonly required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="submitted && form.transDate.errors" class="invalid-feedback">
                <div *ngIf="form.transDate.errors.required"> {{form.transDate.errors.message}}</div>
            </mat-error>
        </mat-form-field>
		<mat-form-field class="form-full-width">
            <textarea maxlength="255" matInput placeholder="{{ 'ottoAG.manualDeposit.description' | translate }}" name="description" [(ngModel)]="deposit.description" #desc required></textarea>
            <mat-error *ngIf="submitted && form.description.errors" class="invalid-feedback">
                <div *ngIf="form.description.errors.required"> {{form.description.errors.message}}</div>
            </mat-error>
        </mat-form-field>
    </div>
    <div mat-dialog-actions align="end">
        <button mat-raised-button color="primary" (click)="validate()">{{ "entity.action.save" | translate }}</button>
    </div>
</form>