<mat-card>
    <mat-card-header>
        <mat-card-title style="align-items: center">
			<h2 *ngIf="menuName === 'Deposit'" mat-dialog-title translate="ottoAG.deposit.home.title"></h2>
			<h2 *ngIf="menuName === 'Manual Deposit'" mat-dialog-title translate="ottoAG.manualDeposit.home.title"></h2>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <!-- <div style="text-align: right"> -->
			<button mat-raised-button *ngIf="menuName === 'Deposit'" color="primary" (click)="openDialog('create', null)" style="margin-bottom: 10px;">{{ "ottoAG.deposit.home.addLabelButton" | translate }}</button>
			<button mat-raised-button *ngIf="menuName === 'Manual Deposit'" color="primary" (click)="openDialog('create', null)" style="margin-bottom: 10px;">{{ "ottoAG.manualDeposit.home.addLabelButton" | translate }}</button>
			<button mat-raised-button (click)="exportCSV('csv')" style="margin-bottom: 10px;">{{ "entity.action.exportCSV" | translate }}</button>
		<!-- </div> -->
		<!-- <br> -->
		<!-- <div>
			<mat-form-field class="form-half-width" style="margin-right: 60px">
				<input matInput placeholder="{{ 'ottoAG.biller.filter.member' | translate }}" [(ngModel)]="filter.memberName" name ="name">
			</mat-form-field>
			<mat-form-field class="form-half-width" style="margin-right: 15px">
				<input matInput [matDatepicker]="pickerFStart" placeholder="{{ 'ottoAG.biller.filter.startDateFrom' | translate }}" (click)="pickerFStart.open()" [max]="dateTStartCtrl.value" [formControl]="dateFStartCtrl" readonly>
				<mat-datepicker-toggle matSuffix [for]="pickerFStart"></mat-datepicker-toggle>
				<mat-datepicker #pickerFStart></mat-datepicker>
			</mat-form-field>
			<mat-form-field class="form-half-width" style="margin-right: 60px">
				<input matInput [matDatepicker]="pickerTStart" placeholder="{{ 'ottoAG.biller.filter.startDateTo' | translate }}" (click)="pickerTStart.open()" [min]="dateFStartCtrl.value" [formControl]="dateTStartCtrl" readonly>
				<mat-datepicker-toggle matSuffix [for]="pickerTStart"></mat-datepicker-toggle>
				<mat-datepicker #pickerTStart></mat-datepicker>
			</mat-form-field>
            <button mat-raised-button color="primary" (click)="actionfilter()" style="margin-left: 30px">Filter</button>
        </div> -->
		<br>
        <ag-grid-angular 
			style="height: 314px;" 
			class="{{theme}}"
			[gridOptions]="gridOptions"
			(gridReady)="onGridReady($event)"
			(rowClicked)="onRowClicked($event)"
			>
		</ag-grid-angular>

		<div>
			<mat-paginator 
				#paginator
				[length]="totalData"
				[pageSize]="totalRecord"
				[pageSizeOptions]="[totalRecord]"
				(page)="onPaginateChange($event)">
			</mat-paginator>
		</div> 
		<a style="display: none" #downloadLink></a> 
    </mat-card-content>
</mat-card>
