/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@import "~ag-grid/dist/styles/ag-grid.css";
@import "~ag-grid/dist/styles/ag-theme-balham.css";
@import "~ag-grid/dist/styles/ag-theme-material.css";

html {
    overflow: scroll;
    overflow-x: hidden;
}
body {
	margin: 0px;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
::-webkit-scrollbar:horizontal {
    height: 10px;
}
/* optional: show position indicator in primary color */
/* ::-webkit-scrollbar-thumb {
    overflow: visible;
} */
::-webkit-scrollbar-thumb:horizontal {
    /* background: #1565c0; */
    background:#0b51a0; 
    /* -webkit-transition: all .5s; */
}
/* ::-webkit-scrollbar-thumb:horizontal:hover {
    background: #1565c0;
    /* -webkit-transition: all .5s;
} */

/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(assets/fonts/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}
  
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 22px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    margin-top: -10px inherit;
}



/* Numpang nambahin style  */

.btnAdd {
    color: white; 
    background-color: #ad0e0e
}

.btnSave {
  color: white; 
  background-color: #CC0000
}


/* ENDDD Numpang nambahin style  */
