<mat-card>
    <mat-card-header>
        <mat-card-title style="align-items: center">
			<!-- <h2 style="color: rgb(158, 158, 158)" >Product</h2>   -->
			<h2 mat-dialog-title translate="ottoAG.promotionTrans.home.title"></h2>              
        </mat-card-title>
    </mat-card-header>
 
    <mat-card-content> 
		<div style="text-align: left">
            <button mat-raised-button color="primary" (click)="openDialog('create', null)" style="margin-bottom: 10px;">{{ "ottoAG.promotionTrans.home.addLabelButton" | translate }}</button>
            <button mat-raised-button class="primary"  (click)="exportCSV('csv')" style="margin-bottom: 10px;">{{ "entity.action.exportCSV" | translate }}</button>
		</div> 
		<div>
            <mat-form-field class="container-half-width">
				<input matInput [matDatepicker]="pickerFStart" placeholder="{{ 'ottoAG.promotionTrans.filter.startDateFrom' | translate }}" (click)="pickerFStart.open()" [max]="dateTStartCtrl.value" [formControl]="dateFStartCtrl" readonly>
                <mat-datepicker-toggle matSuffix *ngIf="dateFStartCtrl.value === null" [for]="pickerFStart"></mat-datepicker-toggle>
                <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="dateFStartCtrl.value !== null" (click)="dateFStartCtrl.setValue(null)">
                    <mat-icon>close</mat-icon>
                </button>
				<mat-datepicker #pickerFStart></mat-datepicker>
			</mat-form-field>
			<mat-form-field class="container-half-width">
				<input matInput [matDatepicker]="pickerTStart" placeholder="{{ 'ottoAG.promotionTrans.filter.startDateTo' | translate }}" (click)="pickerTStart.open()" [min]="dateFStartCtrl.value" [formControl]="dateTStartCtrl" readonly>
                <mat-datepicker-toggle matSuffix *ngIf="dateTStartCtrl.value === null" [for]="pickerTStart"></mat-datepicker-toggle>
                <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="dateTStartCtrl.value !== null" (click)="dateTStartCtrl.setValue(null)">
                    <mat-icon>close</mat-icon>
                </button>
				<mat-datepicker #pickerTStart></mat-datepicker>
			</mat-form-field>
			<mat-form-field class="container-half-width">
				<input matInput placeholder="{{ 'ottoAG.promotionTrans.promotionId' | translate }}" aria-label="Promotion" [matAutocomplete]="auto" [formControl]="promotionCtrl">
				<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFnProm">
					<mat-option *ngFor="let promotion of filteredPromotion | async" [value]="promotion">
						<span>{{ promotion.name }}</span>
					</mat-option>
				</mat-autocomplete>
			</mat-form-field>
			<button mat-raised-button color="primary" (click)="actionfilter()" style="margin-left: 30px;">Filter</button>
		</div>
		<br>
        <ag-grid-angular 
			style="height: 314px;" 
			class="{{theme}}"
			[gridOptions]="gridOptions"
			(gridReady)="onGridReady($event)"
			(rowClicked)="onRowClicked($event)"
			>
		</ag-grid-angular>

		<div >
			<mat-paginator 
				[length]="totalData"
				[pageSize]="totalRecord"
				[pageSizeOptions]="[totalRecord]"
				(page)="onPaginateChange($event)">
			</mat-paginator>
		</div> 
		<a style="display: none" #downloadLink></a>
    </mat-card-content>
</mat-card>
